# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
conda/

# Data
data/flow_mesh/*
data/ignition_grid/*
data/ignition_mesh/*
data/ignition_uniform_mesh/*

# OPOSSUM
core/torch_quadconv/utils/libopossum.so
